{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<h1>{% block title %}{{ parent() }}{% endblock %}</h1>

	{% if error %}
		<div>{{ error|trans }}</div>
	{% endif %}

	<div class="col-md-6">
		<form action="{{ path("fos_user_security_check") }}" method="post">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

			<div>
				<label for="username">{{ 'security.login.username'|trans }}</label>
				<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
			</div>

			<div>
				<label for="password">{{ 'security.login.password'|trans }}</label>
				<input type="password" id="password" name="_password" required="required" />
			</div>

			<div>
				<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
				<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
			</div>

			<span class="out-bt"><button class="btn btn-primary" type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button></span>
		</form>
	</div>
			
	<div class="col-md-6">
		<aside class="tips">
			<p>
				<span class="question">Pas encore de compte WeArt ?</span><br />
				<a href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-arrow-right"></span> Créer un comte maintenant !</a>
			</p>
			
			<p>
				<span class="question">Mot de passe oublié ?</span><br />
				<a href="{{ path('fos_user_resetting_request') }}"><span class="glyphicon glyphicon-arrow-right"></span> Remise à zéro de votre mot de passe</a>
			</p>
		</aside>
	</div>
{% endblock fos_user_content %}
