<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>WeArt - {% block title %}{% endblock %}</title>
        {% block stylesheets %}
			{# Everything is based on bootstrap #}
			<link rel="stylesheet" href="{{ asset('css/ext/bootstrap.min.css') }}">
		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
			{# Jquery everywhere #}
			<script src="{{ asset('js/ext/jquery-2.1.1.min.js') }}"></script>
			
			{# DejaVu everywhere #}
			<script src="{{ asset('js/ext/dejavu.strict.js') }}"></script>
			
			{# Everything is based on bootstrap #}
			<!--<script src="{{ asset('js/ext/bootstrap.min.js') }}"></script>-->
		{% endblock %}
    </body>
</html>
