{% extends "::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	
	<link rel="stylesheet" href="{{ asset('css/front.css') }}">
{% endblock %}

{% block userMenu %}
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		<a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
	{% else %}
		<a href="{{ path('fos_user_security_login') }}">Compte</a>
	{% endif %}
{% endblock %}

{% block body %}
	<header>
		<div class="container">
			<nav>
				<div class="links col-xs-5">
					<ul>
						<li><a href="{{ path('wa_front_homepage') }}">Home</a></li>
						<li><a href="{{ path('wa_front_consultation') }}">Consultation</a></li>
						<li><a href="{{ path('wa_add_idea') }}">Une idée ?</a></li>
						<li class="visible-xs">
							{{ block('userMenu') }}
						</li>
					</ul>
				</div>
				<div class="col-xs-2">
					<a href="{{ path('wa_front_homepage') }}">
						<div class="logo">
							<h1>WeArt</h1>
							<h2>World Expects Art</h2>
						</div>
					</a>
				</div>
				<div class="hidden-xs links right col-md-5">
					<ul>
						<li><a href="{{ path('wa_front_search') }}">Recherche</a></li>
						<li>{{ block('userMenu') }}</li>
					</ul>
				</div>
			</nav>
		</div>

		<div class="triangle"></div>
	</header>
	
	{% block content %}
	
	{% endblock %}

	<footer>
		<div class="container">
			<div class="col-md-4">
				<h3>FAQ et Réglement</h3>
				<nav>
					<ul>
						<li><a>Rechercher une question</a></li>
						<li><a href="{{ path('wa_front_faq') }}">Foire aux Questions</a></li>
						<li><a href="{{ path('wa_front_rules') }}">Règles du site internet</a></li>
					</ul>
				</nav>

			</div>

			<div class="col-md-4">
				<h3>Qui sommes nous ?</h3>
				<nav>
					<ul>
						<li><a href="{{ path('wa_front_identity') }}">Histoire de WeArt</a></li>
						<li><a>Nous poser une question</a></li>
						<li><a>Contact</a></li>
					</ul>
				</nav>
			</div>

			<div class="col-md-4">
				<h3>Partenaires</h3>
				<nav>
					<ul>
						<li><a href="http://assos.utc.fr/" target="_blank">Fédération associative du BDE-UTC</a></li>
						<li><a href="http://www.crous-amiens.fr/" target="_blank">CROUS Amiens-Picardie</a></li>
					</ul>
				</nav>
			</div>
		</div>

	</footer>
{% endblock %}