{% extends "::front.html.twig" %}

{% block title %}
	{{ parent() }}Ajout Theme
{% endblock %}

{% block content %}

<div class="waBlock">
	<div class="container">
		<h1>Consultation des thèmes</h1>

		<p>
			<a href="{{ path('wa_admin_homepage') }}">Retour à l'administration</a> - <a href="{{ path('wa_add_theme') }}">Ajouter un thème</a>
		</p>
		
		<table class="table">
			<thead>
				<tr>
					<th>Date</th>
					<th>Intitulé</th>
					<th>Idée</th>
					<th>Votes.</th>
				</tr>
			</thead>
			<tbody>
				{% if not isAll %}
					<tr class="beforeLnk">
						<th colspan="5"><a href="{{ path('wa_list_theme_all') }}">Voir les thèmes précedents</a></th>
					</tr>
				{% endif %}
					
				{% for themeInfo in themes %}
					<tr>
						<td>{{ themeInfo.theme.year }} - {{ themeInfo.theme.week }}</td>
						<td><a href="{{ path('wa_edit_theme', {themeId: themeInfo.theme.id}) }}">{{ themeInfo.theme.title }}</a></td>
						
						<td>{{ themeInfo.nbIdea }} / <span class="{% if themeInfo.nbIdeaDelta > 0 %}good{% elseif themeInfo.nbIdeaDelta < 0 %}bad{% endif %}">{% if themeInfo.nbIdeaDelta >= 0 %}+{% endif %}{{ (themeInfo.nbIdeaDelta * 100) | number_format(2, ',', ' ') }}%</span></td>
						<td>{{ themeInfo.nbVotes }} / <span class="{% if themeInfo.nbVoteDelta > 0 %}good{% elseif themeInfo.nbVoteDelta < 0 %}bad{% endif %}">{% if themeInfo.nbVoteDelta >= 0 %}+{% endif %}{{ (themeInfo.nbVoteDelta * 100) | number_format(2, ',', ' ') }}%</span></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<p>
			<a href="{{ path('wa_add_theme') }}">Ajouter un thème</a>
		</p>
	</div>
</div>


{% endblock %}