{% extends "::front.html.twig" %}

{% block title %}
    {{ parent() }}Consultation
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/ext/jquery.slides.min.js') }}"></script>
    <script src="{{ asset('js/mySlider.js') }}"></script>
    <script src="{{ asset('js/magicBox.js') }}"></script>

    <script>
        $(function() {
            $(".slider").each(function() {
                new wa.Slider($(this));
            });

            $(".magic-box").each(function() {
                new wa.MagicBox($(this));
            });
        });
    </script>
{% endblock %}

{% block content %}
    <article class="waBlock">
        <div class="container">
            <div class="col-md-12 newsContainer">
                <div class="col-md-1"></div>
                <div class="slider-in">
                    <h1>Thème de la semaine : {{ themeSemaine.title }}</h1>
                    <p>{{ themeSemaine.description }}</p>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </article>

    <article class="waBlock">
        <div class="container">
            <h1>Top du jour</h1>
            <div class="col-md-12 slider ">
                <div class="slider-border">
                    <span class="out-bt"><button class="btn btn-primary slider-left"><span>&lt;</span></button></span>
                </div><!--

                --><div class="slider-content">
                    <div class="slider-in">
						{% for groupIdeas in todayTopIdeas %}
							<div class="row">
								{% for idea in groupIdeas %}
								<div class="col-sm-3">
									<div class="siteContent">
										<img src="http://placehold.it/196x196">
										<h2>{{ idea.title }}</h2>
										<p class="no-indent">{{ idea.title }}</p>
									</div>
								</div>
								{% endfor %}
							</div>
                        {% endfor %}
                    </div>
                </div><!--

                --><div class="slider-border">
                    <span class="out-bt"><button class="btn btn-primary slider-right"><span>&gt;</span></button></span>
                </div>
            </div>
        </div>
    </article>
    
    
    <article class="waBlock">
        <div class="container">
            <h1>Top de la semaine</h1>
            <div class="col-md-12 slider ">
                <div class="slider-border">
                    <span class="out-bt"><button class="btn btn-primary slider-left"><span>&lt;</span></button></span>
                </div><!--

                --><div class="slider-content">
                    <div class="slider-in">
						{% for groupIdeas in weekTopIdeas %}
							<div class="row">
								{% for idea in groupIdeas %}
								<div class="col-sm-3">
									<div class="newsContainer siteContent">
										<h3>{{ idea.title }}</h3>
										<img src="http://placehold.it/196x196">
									</div>
								</div>
								{% endfor %}
							</div>
                        {% endfor %}
                    </div>
                </div><!--

                --><div class="slider-border">
                    <span class="out-bt"><button class="btn btn-primary slider-right"><span>&gt;</span></button></span>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
