{% extends "::front.html.twig" %}

{% block title %}
	{{ parent() }}Consultation
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	{# Jquery everywhere #}
	<script src="{{ asset('js/ext/jquery.slides.min.js') }}"></script>
	<script src="{{ asset('js/mySlider.js') }}"></script>
	<script src="{{ asset('js/magicBox.js') }}"></script>
	
	<script>
		$(function(){
			$(".slider").each(function() {
				new wa.Slider($(this));
			});
			
			$(".magic-box").each(function() {
				new wa.MagicBox($(this));
			});
		});
	</script>
{% endblock %}

{% block content %}
    <h1>TODO</h1>
    <p><a href="https://trello.com/c/jnNd6lpG">Liens vers la tâche Trello</a></p>
{% endblock %}
