{% extends "::front.html.twig" %}

{% block title %}
    {{ parent() }}Recherche
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	
	<link rel="stylesheet" href="{{ asset('css/le-frog/jquery-ui-1.10.4.custom.min.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/ext/jquery-ui-1.10.4.custom.min.js') }}"></script>
	<script src="{{ asset('js/ideaSearch.js') }}"></script>
	
	<script>
		var autoCompleteUrl = '{{ path('wa_front_json_autocomplete') }}';
		var searchUrl = '{{ path('wa_front_json_search') }}';
		var consultUrl = '{{ path('wa_front_consult_idea', {idIdea: 1}) }}';
		
		$(function(){
			$(".ideaSearch").each(function() {
				new wa.IdeaSearch($(this));
			});
		});
	</script>
{% endblock %}

{% block content %}
    <article class="waBlock">
        <div class="container">
			<div class="ideaSearch">
				<div class="btn-group disciplines">
					{% for discipline in disciplines %}
						<button data-id="{{ discipline.id }}" type="button" class="btn btn-default {% if loop.index == 1 %}active{% endif %}">{{ discipline.title }}</button>
					{% endfor %}
				</div>
				
				<nav class="filterArea">
					<div class="row">
						<div class="col-md-6">
							<h3>Thèmes :</h3>
							
							<div class="themeList">
								{% for theme in themes %}
									<span class="tag greyTag theme" data-id="{{ theme.id }}" data-title="{{ theme.title }}">{{ theme.year }} - {{ theme.week }} | {{ theme.title }}</span>
								{% endfor %}
							</div>
						</div>
						<div class="col-md-6">
							<div>
								<label for="findTagInput">Trouver un tag :</label>
								<input type="text" class="findTagInput" placeholder="Recherche" id="findTagInput" />
							</div>
							
							<div>
								<h3>Tag(s) sélectionnés :</h3>
								
								<div class="tagPool">
									
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3"></div>
						
						<div class="col-md-6 searchBtBlock">
							<span class="out-bt"><button class="btn btn-primary searchBt">Recherche -&gt;</button></span>
						</div>
						
						<div class="col-md-3"></div>
					</div>
				</nav>
			</div>
        </div>
    </article>
								
	<article class="waBlock">
        <div class="container">
            <h1>Résultat de la recherche</h1>
			<div class="row result">

            </div>
        </div>
    </article>
								
	<div id="template" style="display: none;">
		<div class="col-sm-3 ideaBlock">
			<div class="newsContainer siteContent">
				<h3></h3>
				<img src="http://placehold.it/196x196" />
				<a href="">Consulter l'idée</a>
			</div>
		</div>
	</div>
{% endblock %}
